/*公共样式*/
* {
	margin: 0;
	padding: 0;
}

.lex {
	list-style: none;
	margin: 0 auto;
	width: 1300px;
	display: flex;
	flex-wrap: wrap;
}


.jiage {
	color: red;
	font-family: arial;
	font-weight: 400;
	font-size: 20px;
	margin-left: 5px;
}

.box {
	margin: 0 19px;
	border: 1px solid #ccc;
	padding: 5px;
	border-radius: 8px;
}

.mingzi {
	font-size: 12px;
	margin-left: 5px;
	margin-top: 10px;
}

.dianzhang {
	line-height: 20px;
	height: 20px;
	max-width: 144px;
	color: #999;
	text-decoration: underline;
	/* overflow: hidden; */
	text-overflow: ellipsis;
	white-space: nowrap;
	margin-top: 25px;
	margin-left: 5px;
}

a {
	text-decoration: none;
	color: black;
}

hr {
	border: 0.6px solid #ccc;
	width: 200px;
	margin: 0 auto;
	margin-top: 10px;
}

.biankuang {
	/* border-right: 1px solid #ccc; */
	width: 200px;
	height: 30px;
	line-height: 30px;
}

.box {
	margin-top: 10px;
}

.biankuang p {
	font-size: 12px;
	color: #9e9c9c;
	width: 110px;
	float: left;
	margin-left: 5px;
}

.kuan {
	display: block;
	color: #b57c5b;
	font-weight: 700;
	float: right;
}

.wangwang {
	float: left;
	margin-left: 49px;
	margin-top: 3px;
	border-left: 1px solid #ccc;
	padding-left: 11px;
}

.tu {
	border-right: 1px solid #ccc;
	width: 150px;
	height: 30px;
	line-height: 30px;
}